In [0]:
import pandas as pd

In [0]:
data = pd.read_csv('logs_mp_october.csv')

In [96]:
data.head()

   Unnamed: 0   user_id  ...           event_date track_id
0           0    301766  ...  2019-10-31 04:24:36     10.0
1           1   7599993  ...  2019-10-31 04:24:50     10.0
2           2  26828853  ...  2019-10-31 04:24:54     10.0
3           3    301766  ...  2019-10-31 04:25:05     10.0
4           4  20736809  ...  2019-10-31 04:25:07     10.0

[5 rows x 5 columns]

In [97]:
data.shape

(705706, 5)

In [0]:
data.drop_duplicates(subset =['user_id', 'track_id'], inplace = True)

In [99]:
data.shape

(179975, 5)

In [135]:
print('###### 2 вопрос ######')
print('Доля пользователей, которые посетили экран тех. поддержки: {0:.3}%'.format(data[data.track_id == 20].user_id.shape[0]*100/len(data.user_id.unique())))
print('###### 1 вопрос ######')
print('Самый популярный экраны среди пользователей\nЭкран Кол-во посетивших\n      пользователей\n',data.track_id.value_counts().iloc[[0]])

###### 2 вопрос ######
Доля пользователей, которые посетили экран тех. поддержки: 0.0119%
###### 1 вопрос ######
Самый популярный экраны среди пользователей
Экран Кол-во посетивших
      пользователей
 4.0    73840
Name: track_id, dtype: int64